.root {
    display: flex;
    gap: 10px;

    li {
        // display: inline-block;
        a {
            // text-align: center;
            // width: 45px;
            // line-height: 42px;
            // height: 45px;
            // border: 1px solid #fe5f1e;
            // border-radius: 30px;
            // margin-right: 10px;
            // display: inline-block;
            // cursor: pointer;
            // color: #fe5f1e;

            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            cursor: pointer;
            color: #fe5f1e;
            &:hover {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }

    // если вы хотите изменить стили библиотеки используем :global
    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
